<?xml version="1.0"?>

<launch>
    <arg name="port" default="/dev/ttyUSB0" />

    <!-- Load robot description -->
    <include file="$(find erwhi_description)/launch/description.launch" />

    <!-- ORBus harware driver -->
    <node pkg="orbus_interface" type="unav_node" name="unav" output="screen">
        <rosparam command="load" file="$(find erwhi_bringup)/config/unav.yaml" />
        <rosparam subst_value="true">
            serial_port: $(arg port)
            serial_rate: 115200
            control_frequency: 50.0
            diagnostic_frequency: 5.0
        </rosparam>
    </node>



</launch>
