<?xml version="1.0"?>

<launch>
	<!-- motors control uNAV-->
	<include file="$(find erwhi_bringup)/launch/include/driver.launch">
	</include>

	<!-- control -->
	<include file="$(find erwhi_control)/launch/control.launch">
	</include>

	<!-- realsense --> 
	<!--<include file="$(find erwhi_bringup)/launch/include/r200.launch">
	</include>-->

	<!-- lidar -->
	<include file="$(find erwhi_bringup)/../../rplidar_ros/launch/rplidar.launch">
	</include>

	<!-- imu -->
<!--	<include file="$(find erwhi_bringup)/launch/include/imu.launch">
	</include> -->
	<include file="$(find erwhi_bringup)/launch/include/fake_odom.launch">
	</include>

	<!-- diagnostic -->
	<include file="$(find erwhi_bringup)/launch/include/diagnostic.launch">
	</include>
	
</launch>
